doctype html
html(lang='en' data-bs-theme='dark')
 head
   title Topic Mod Rules - ai_peter

   meta(charset='utf-8')
   meta(name='viewport' content='width=device-width, initial-scale=1')

   meta(property='og:title' content='Topic Mod Rules - ai_peter')
   meta(property='og:type' content='website')
   meta(property='og:image' content='/chrisvape.jpg')
   meta(property='og:url' content='http://topicmod.gamergirlpee.xyz')

   link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
   link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
   link(rel='stylesheet' href='/style.css')
 body
   .text-center.header
     img.headerImg.mt-4.mb-2(src='/obscure.png')
     h1 ai_peter topic mod rules
     h3
       i!= `when you see ${donorIcon} consider these topics only if they are tips`
     h4 Check the name of the person who submitted the topic. If the person who submitted the topic is a CM or Pauhull then don't reject their topic unless you seriously believe they made a mistake, and tell them what it is. You may reject topics from other staff members provided you immediately explain to them why, and that you are calm and understanding if it turns out their topic was allowed.
     h5 Rejecting any topic made by Pauhull will be punished by sending you to the snake pit for four hours.

   .container-xl.sections#rules
     .row
       for section of sections
         .col-lg-6
           .card(class=section.title.toLowerCase() data-bs-theme='light')
             .card-header= section.title
             .card-body!= section.content

     hr

   .container-xl.strokes#stroketriggers
     .text-center.mb-4
       h1 Stroke Triggers
     .row
       .col-12
         .row
           each triggers, character in strokeTriggers
             .col-lg-4.col-sm-6.mb-3
               .card(data-bs-theme='light').strokeChar
                 .card-header= character
                 .card-body
                   // h4= character
                   ul
                     each trigger in triggers
                       li= trigger

     footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-3.border-top
       .col-12.d-flex.align-items-center.justify-content-end
          p.px-2 powered by sex on tv
          img.footericon(src='/chrisvape.jpg')

