.card {
  border-color: black;
}

.card-header {
  font-size: 1.2em;
}
.card-body {
  font-size: 1.05em;
}
.serious > .card-header {
  background-color: #dc3545;
}
.unwanted > .card-header {
  background-color: #fd7e14;
}
.shit > .card-header {
  background-color: #ffc107;
}
.boring > .card-header {
  background-color: #0d6efd;
}
.allowed > .card-header {
  background-color: #198754;
}
.unknown > .card-header {
  background-color: #6f42c1;
}

.sections .col-lg-6 {
  margin-top: 25px;
}

/* list indent */
ul > li {
  margin-left: -10px;
}

/* make donor icon green */
.donoricon > svg {
  fill: #198754;
}

/* currently broken on mobile */
/* .header svg { */
/*   scale: 2.5; */
/*   width: 3.4%; */
/* } */

.headerImg {
  max-height: 11em;
}

.footericon {
  max-height: 4em;
}

.strokeChar > .card-header {
  background-color: #44d7a8;
  /* background-color: #00a693; */
  /* background-color: #aaf0d1; */
  /* background-color: #88d8c0; */
}

.strokeChar ul {
  /* list-style-image: url('bullet6.gif'); */
  list-style-image: url('chris-shook.gif');
}
